$color-primary: #582C83;
$color-primary-light: #8246AF;
$color-primary-lightest: #A679D2;
$color-secondary: #FEC10D;
$color-secondary-light: #FFD454;
$color-text: #636466;

$color-background-light: #EFF0F1;
$color-background-table-heading: $color-primary; // #636466;

$color-error: #FF9800;
$brand-danger: #FF9800;
$brand-success: #582C83;
$color-success: $brand-success;

$color-disabled: #AAAAAA;

$color-anchor: #0A6EBD;
// $color-anchor: #001A71;
