<div id="" class="page-auth">
    <div class="main-body-forgot-auth">
        <div class="card-reg card-white">
            <div class="card-content-user">
                <div class="logo-reg">
                    <fgl-logo [isWhiteLogo]="false" [height]="60"></fgl-logo>
                </div>

                <div *ngIf="!isValidationSuccess && !isAccountLocked">
                    <!-- <div class="article-title-heading1 margin-left40">Forgot Username</div> -->
                    <div>
                        <form name="userInfoForm" class="mat-form-auth form-validation" [formGroup]="userInfoForm">
                            <fieldset class="col-11">
                                <div class="profile article-title-heading5">Forgot Username</div>
                                <div *ngIf="!isUserDataValid">
                                    <div class="section-heading margin-left40">
                                        Please provide the following information to retrieve your username:
                                    </div>
                                    <div class="form-group no-margin-bottom">
                                        <mat-form-field class="full-width mat-icon-left">
                                            <!-- <mat-icon class="material-icons">perm_identity</mat-icon> -->
                                            <input required matInput maxlength="50" name="lastName" autocomplete="off" placeholder="Last name / Entity name" formControlName="lastName">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group no-margin-bottom">
                                        <mat-form-field class="full-width mat-icon-left">
                                            <!-- <mat-icon class="material-icons">folder_open</mat-icon> -->
                                            <input required matInput type="text" maxlength="30" name="policyNumber" autocomplete="off" placeholder="Policy number" formControlName="policyNumber">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group no-margin-bottom">
                                        <mat-form-field class="full-width mat-icon-left">
                                            <!-- <mat-icon class="material-icons">assignment_ind</mat-icon> -->
                                            <input required matInput type="text" maxlength="4" name="ssn" autocomplete="off" placeholder="Last 4 digits of Social Security Number / Tax Identification Number"
                                                formControlName="ssn">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div *ngIf="isUserDataValid">
                                    <div class="section-heading margin-left40">
                                        Please provide the answer to your security question:
                                    </div>
                                    <fieldset>
                                        <div class="form-group">
                                            <mat-form-field class="full-width mat-icon-left">
                                                <!-- <mat-icon class="material-icons">question_answer</mat-icon> -->
                                                <input fglsensitiveinput required matInput maxlength="500" type="text" name="answer" autocomplete="new-password" placeholder="{{securityQuestion}}"
                                                    formControlName="answer">
                                            </mat-form-field>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="margin-btm5">
                                    <fgl-message [message]="errorMessage"></fgl-message>
                                </div>
                                <div class="margin-left40">
                                    <div class="pull-left">
                                        <button [routerLink]="[config.getConfig('appAccountActionUrl')]" mat-raised-button type="button" color="primary" class="pull-left btn-fgl-bgcolor">Cancel</button>
                                    </div>
                                    <div class="pull-right" *ngIf="!isUserDataValid">
                                        <button [disabled]="!userInfoForm.valid" (click)="nextClick()" color="primary" mat-raised-button type="button" class="pull-right btn-fgl-bgcolor margin-left15">Next</button>
                                    </div>
                                    <div class="pull-right" *ngIf="isUserDataValid">
                                        <button [disabled]="!userInfoForm.valid" (click)="submit()" color="primary" mat-raised-button type="button" class="pull-right btn-fgl-bgcolor  margin-left15">Submit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div *ngIf="isValidationSuccess && !isAccountLocked" class="margin-btm30">
                    <div class="section-heading">
                        {{successMessage}}
                    </div>
                </div>
                <div *ngIf="isValidationSuccess && !isAccountLocked" class="pull-right col-12 float-md-left float-lg-right">
                    <button [routerLink]="[config.getConfig('appLoginUrl')]" color="primary" mat-raised-button type="button" class="pull-right btn-fgl-bgcolor  margin-left15">Login</button>
                </div>

                <account-locked *ngIf="isAccountLocked" [message]="accountLockedMsg"></account-locked>
            </div>
        </div>
    </div>
</div>