<div class="page-auth">
        <div class="main-body-reg-auth">
            <div class="card-reg card-white">
                <div class="card-content-reg">
                    <div class="logo-reg">
                        <fgl-logo [isWhiteLogo]="false" [height]="60" [width]="238"></fgl-logo>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 bold margin-top20 margin-left50">
                            Welcome to Fidelity & Guaranty Life Policyholder Portal.
                        </div>
                    </div>
                    <div class="row margin-right50">
                        <div class="col-md-12 col-xs-12 bold margin-top20 margin-left50">
                            You will need your policy number (an active one), Social Security or Tax Identification Number, telephone number, and ZIP code to register.
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-12 col-xs-12 bold margin-top20 margin-left50">
                            Please note that not all policies are currently supported on the portal.
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-12 col-xs-12 bold margin-top20 margin-left50">
                            Your policy number can be found on your original contract or on your annual, policy statement.
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-12 col-xs-12 bold margin-top20 margin-left50">
                            Please contact Fidelity & Guaranty Life at 888-513-8797 for assistance.
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-12 col-xs-12 bold margin-top20">
                            <button (click)="navigatePrevious($event)" mat-raised-button type="button" color="primary" class="pull-left btn-fgl-bgcolor">Previous</button>
                            <button (click)="navigateToRegister($event)" mat-raised-button type="button" color="primary" class="pull-right btn-fgl-bgcolor">Continue to Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>