<div class="page-auth">
    <div class="card card-white">
        <div class="card-content">

            <div class="margin-btm10">
                <div class="logo margin-left5">
                    <fgl-logo [height]="60"></fgl-logo>
                </div>
                <div class="row margin-left10">
                    <div class="col-md-12 col-xs-12 margin-top20-xxx article-title-heading1">
                        Privacy Policy
                    </div>
                </div>
                <div class="row margin-left10">
                    <div class="col-md-12 col-xs-12 margin-top20-xxx bold">
                        <h2 class="article-title">What does Fidelity & Guaranty Life do with your personal information?</h2>
                    </div>
                </div>
                <div class="row margin-left10">
                    <div class="col-md-12 col-xs-12 margin-top20-xxx">
                        Financial companies choose how they share your personal information. Federal law gives consumers the right to limit some
                        but not all sharing. Federal law also requires us to tell you how we collect, share, and protect
                        your personal information. Please read this notice carefully to understand what we do. The types
                        of personal information we collect and share depend on the product or service you have with us. This
                        information can include:
                        <ul>
                            <li>Social Security Number</li>
                            <li>Income Medical information</li>
                            <li>Account transactions</li>
                            <li>Assets Investment experience</li>
                        </ul>
                    </div>
                </div>
                <div class="row margin-left10">
                    <div class="col-md-12 col-xs-12 margin-top20-xxx">
                        When you are
                        <em>no longer</em> a customer, we continue to share your information as described in this notice.
                    </div>
                </div>
               <div class="row margin-left10">
                    <div class="col-md-12 col-xs-12 margin-top20">
                        All financial companies need to share customers’ personal information to run their everyday business. In the section below,
                        we list the reasons financial companies can share their customers’ personal information; the reasons
                        Fidelity & Guaranty Life chooses to share; and whether you can limit this sharing.
                    </div>
                </div>
                <div class="row margin-left10 margin-right20">
                    <div class="col-md-12 col-xs-12 margin-top20">
                        <table class="table table-striped border-box">
                            <thead>
                                <tr>
                                    <th class="policy-thead-border">Reason we can share your personal information</th>
                                    <th class="policy-thead-border">Does Fidelity &amp; Guaranty Life share?</th>
                                    <th class="policy-thead-border">Can you limit this sharing?</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>For our everyday business purposes</strong> - such as to process your transactions,
                                        maintain your account(s), respond to court orders and legal investigations, or report
                                        to credit bureaus
                                    </td>
                                    <td>Yes</td>
                                    <td>No</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>For our marketing purposes</strong> - to offer our products and services to you</td>
                                    <td>Yes</td>
                                    <td>No</td>
                                </tr>
                                <tr>
                                    <td>For joint marketing with other financial companies</td>
                                    <td>No</td>
                                    <td>We don’t share</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>For our affiliates' everyday business purposes</strong> - information about your
                                        transactions and experiences
                                    </td>
                                    <td>Yes</td>
                                    <td>No</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>For our affiliates' everyday business purposes</strong> - information about your
                                        creditworthiness</td>
                                    <td>No</td>
                                    <td>We don’t share</td>
                                </tr>
                                <tr>
                                    <td>For non-affiliates to market to you</td>
                                    <td>No</td>
                                    <td>We don't share</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row margin-left10">
                    <div class="col-md-12 col-xs-12 margin-top20-xxx bold">
                        <h2 class="article-title">Who are we and who is providing this notice?</h2>
                    </div>
                </div>
                <div class="row margin-left10">
                    <div class="col-md-12 col-xs-12 margin-top20-xxx">
                        Fidelity & Guaranty Life refers to:
                        <ul>
                            <li>Fidelity & Guaranty Life Insurance Company, Des Moines, IA</li>
                            <li>Fidelity & Guaranty Life Insurance Company of New York, New York, NY</li>
                        </ul>
                    </div>
                </div>
                <div class="row margin-left10">
                    <div class="col-md-12 col-xs-12 margin-top20-xxx bold">
                        <h2 class="article-title">What we do</h2>
                    </div>
                </div>
                <div class="row margin-left10">
                    <div class="col-md-12 col-xs-12 margin-top20-xxx bold">
                        <h3 class="privacy-title">How does Fidelity & Guaranty Life collect my personal information?</h3>
                    </div>
                </div>
                <div class="row margin-left10">
                    <div class="col-md-12 col-xs-12 margin-top20-xxx">
                        We collect your personal information, for example, when you
                        <ul>
                            <li>Apply for insurance</li>
                            <li>Pay insurance premiums</li>
                            <li>File an insurance claim</li>
                            <li>Give us your income information</li>
                            <li>Tell us about your investment or retirement portfolio</li>
                        </ul>
                        We also collect your personal information from others, such as credit bureaus, affiliates or other companies.                            
                    </div>
                </div>
                <div class="row margin-left10">
                    <div class="col-md-12 col-xs-12 margin-top20 bold">
                        <h3 class="privacy-title">Why can't I limit all sharing?</h3>
                    </div>
                </div>
                <div class="row margin-left10">
                    <div class="col-md-12 col-xs-12 margin-top20-xxx">
                        Federal law gives you the right to limit only
                        <ul>
                            <li>Sharing for affiliates' everyday business purposes - information about your creditworthiness</li>
                            <li>Affiliates from using your information to market to you</li>
                            <li>Sharing for non-affiliates to market to you</li>
                        </ul>
                        State laws and individual companies may give you additional rights to limit sharing. See below for more on your rights under state law.                    </div>
                </div>
                <div class="row margin-left10">
                    <div class="col-md-12 col-xs-12 margin-top20-xxx bold">
                        <h2 class="article-title">Definitions</h2>
                    </div>
                </div>
                <div class="row margin-left10">
                    <div class="col-md-12 col-xs-12 margin-top20-xxx bold">
                        <h3 class="privacy-title">Affiliates</h3>
                    </div>
                </div>
                <div class="row margin-left10">
                    <div class="col-md-12 col-xs-12 margin-top20-xxx">
                        Companies related by common ownership or control. They can be financial and non-financial companies.  <br />
                        <em>Fidelity & Guaranty Life shares information with Fidelity & Guaranty Life Business Services Inc. for everyday business purposes.</em>
                    </div>
                </div>
                <div class="row margin-left10">
                    <div class="col-md-12 col-xs-12 margin-top20 bold">
                        <h3 class="privacy-title">Non-Affiliates</h3>
                    </div>
                </div>
                <div class="row margin-left10">
                    <div class="col-md-12 col-xs-12 margin-top20-xxx">
                        Companies not related by common ownership or control. They can be financial and non-financial companies.  <br />
                        <em>Fidelity & Guaranty Life does not share with non-affiliates so they can market to you.</em>
                    </div>
                </div>
                <div class="row margin-left10">
                    <div class="col-md-12 col-xs-12 margin-top20 bold">
                        <h3 class="privacy-title">Joint Marketing</h3>
                    </div>
                </div>
                <div class="row margin-left10">
                    <div class="col-md-12 col-xs-12 margin-top20-xxx">
                        A formal agreement between nonaffiliated financial companies that together market financial products or services to you. <br />
                        <em>Fidelity & Guaranty Life does not jointly market.</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>