<form [formGroup]="userInfoForm" name="userInfoForm" class="mat-form-auth">
    <fieldset>
        <div class="box-body-fgl">
            <div class="no-margin-bottom form-group">
                <mat-form-field class="full-width mat-icon-left no-padding-bottom">
                    <input minlength="8" maxlength="50" required matInput type="text" autocomplete="off" formControlName="userId" name="userId" placeholder="Username">
                </mat-form-field>
                <fgl-spinner-small [requesting]="isUserIdVerifying"></fgl-spinner-small>
            </div>            

            <div class="no-margin-bottom form-group msg-box" *ngIf="!showUsernameHint">
                <div class="lineheight-none">
                    <ul class="no-padding list-style-none">
                        <li class="small font-italic"> Username must be between 8 and 50 characters</li>
                        <li class="small font-italic"> Username can contain letters, numbers and special characters ., #, $, _, and @</li>
                        <li class="small font-italic"> Username cannot contain spaces</li>
                    </ul>
                </div>
            </div>

            <password (onComponentValueChanged)="onPasswordComponentValueChanged($event)" showPwdHint="true"></password>
            
            <email (emailComponentValueChanged)="onEmailComponentValueChanged($event)" 
            newEmailPlaceholder="Email" confirmEmailPlaceholder="Confirm email"></email>
         
        </div>
        <div>
            <fgl-message [message]="credentialInfoErrorMessage"></fgl-message>
        </div>
    </fieldset>
</form>