<div class="page-auth">
  <div class="card card-white">
    <div class="card-content">

      <div class="margin-btm10">
        <div class="logo">
          <fgl-logo [height]="60"></fgl-logo>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12 margin-top20 bold">
            Terms and Conditions for Use of this Web Site
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12 margin-top20">
              This page sets forth the terms and conditions of the agreement (the &quot;Agreement&quot;) under which Fidelity &amp; Guaranty Life 
              makes this site available to you, as well as the terms and conditions governing your use of this site. By making use 
              of this site, you agree to be bound by the terms and conditions we have outlined below, as the same may be modified 
              from time to time. Modifications shall be effective immediately upon posting on the site. If you do not accept these 
              terms and conditions, please do not continue to use or access this site.
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 margin-top20">
              FGL Policyholder Portal Web site (the &quot;Service&quot;) is an online information service provided by Fidelity &amp; Guaranty Life, 
              subject to your compliance with the terms and conditions set forth below. Please read this document carefully before 
              accessing or using the Service. By accessing or using the Service, you agree to be bound by the terms and conditions 
              set forth below. If you do not wish to be bound by these terms and conditions, you may not access or use the Service. 
              Fidelity &amp; Guaranty Life may modify the conditions contained in this Agreement at any time, and such modifications 
              shall be effective immediately upon posting of the modified Agreement on the Service or upon Fidelity &amp; Guaranty Life 
              mailing to you a copy of the modified Agreement. You agree to review the Agreement posted on the Service (if any) 
              periodically to be aware of such modifications and your continued access or use of the Service shall be deemed your 
              conclusive acceptance of the modified Agreement.
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 margin-top20">
              <span class="bold">1. Fidelity &amp; Guaranty Life</span> is the marketing name for Fidelity &amp; Guaranty Life Insurance Company 
              and, in New York only, Fidelity &amp; Guaranty Life Insurance Company of New York. Incorporated in 1959, Fidelity &amp; 
              Guaranty Life Insurance Company has a solid commitment to serving the individuals it knows best - middle market consumers 
              seeking the safety, protection, accumulation and income features of secure life insurance and annuity products. Fidelity 
              &amp; Guaranty Life will continue to offer its series of focused life insurance and annuity products through its independent 
              network of master general agents in every state, other than New York, as well as the District of Columbia. In New York, 
              products are offered through a wholly owned subsidiary, Fidelity &amp; Guaranty Life Insurance Company of New York. 
              Each Fidelity &amp; Guaranty Life company is solely responsible for its product guarantees and commitments.
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 margin-top20">
              Fidelity &amp; Guaranty Life Insurance Company is a life insurance company organized under the laws of the State of Iowa. 
              Fidelity &amp; Guaranty Life Insurance Company is licensed in the District of Columbia and all states of the United States 
              except for New York. Fidelity &amp; Guaranty Life Insurance Company of New York, a wholly-owned subsidiary of Fidelity &amp; 
              Guaranty Life Insurance Company, is a life insurance company organized under the laws of the State of New York and is 
              licensed only in New York. Fidelity &amp; Guaranty Life is not authorized to transact business outside of the United States, 
              and this web site is not intended as a solicitation in any jurisdiction in which Fidelity &amp; Guaranty Life is not 
              respectively authorized to transact business.
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 margin-top20">
              <span class="bold">2. Access Rights.</span> The Service is a controlled Web site, access to which is restricted to Policyholders 
              transacting business with Fidelity &amp; Guaranty Life. Fidelity &amp; Guaranty Life may revoke, rescind or cancel your 
              ability to access the Service at any time without notice. The password and other identifying codes you use to access the 
              Service are the property of Fidelity &amp; Guaranty Life and may be revoked, rescinded or canceled at any time without 
              notice. You agree that you will not disseminate, or reveal or otherwise provide access to your password and other identifying 
              codes to any person or entity. You are solely responsible, and Fidelity &amp; Guaranty Life shall not hold any liability 
              to you, for any use or misuse of the Service by you.
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 margin-top20">
              <span class="bold">3. Copyright.</span> The entire contents of the Service are copyrighted under the United States copyright laws. 
              The owner of the copyright is Fidelity &amp; Guaranty Life. You may print and download portions of material from the different 
              areas of the Service solely for your use in transacting business with Fidelity &amp; Guaranty Life. Any other copying, 
              redistribution, retransmission or publication of any downloaded material is strictly prohibited without the express written 
              consent of Fidelity &amp; Guaranty Life. You agree not to change or delete any proprietary notices from materials downloaded 
              from the Service.
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 margin-top20">
              <span class="bold">4. Use of the Service.</span> You understand that Fidelity &amp; Guaranty Life endeavors to regularly update the 
              data available through the Service, but the data you can access through the Service may not represent the most recent data 
              available to Fidelity &amp; Guaranty Life. Fidelity &amp; Guaranty Life does not warrant that the Service will be uninterrupted 
              or error-free or that defects in the Service will be corrected. The Service, the data available from the Service and any 
              software downloaded from the Service are provided on an &quot;as is, as available&quot; basis. Nothing in the Service is intended 
              to alter the contractual relationship that you have with Fidelity &amp; Guaranty Life as Policyholder with Fidelity &amp; 
              Guaranty Life, and in the event of any conflict between the data available from the Service and the provisions of your 
              contract/policy agreement with Fidelity &amp; Guaranty Life, the contract/policy agreement shall govern and control.
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 margin-top20">
              You understand that Fidelity &amp; Guaranty Life cannot and does not guarantee or warrant that files or data available for 
              downloading through the Service will be free of infection or viruses, worms, Trojan horses or other code that manifest 
              contaminating or destructive properties. You are responsible for implementing sufficient procedures and checkpoints to 
              satisfy your particular requirements for accuracy of data output, and for maintaining a means external to the Service 
              for the reconstruction of any lost data. You assume total responsibility and risk for your use of the Service and the 
              Internet. Fidelity &amp; Guaranty Life does not make, and expressly disclaims making, any express or implied warranties, 
              representations or endorsements whatsoever (including without limitation the implied warranties of merchantability or 
              fitness for a particular purpose) with regard to the Service, and Fidelity &amp; Guaranty Life shall not be liable for any 
              cost or damage arising either directly or indirectly from any such transaction.
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 margin-top20">
              In no event will Fidelity &amp; Guaranty Life be liable for (a) any direct, incidental, consequential, punitive, special, 
              indirect or other damages (including, but not limited to, damages for loss of profits, business interruption, loss of 
              programs or information, and the like) arising out of the use of or inability to use the Service, or any information, 
              or transactions provided on the Service or downloaded from the Service, even if Fidelity &amp; Guaranty Life or its 
              authorized representatives have been advised of the possibility of such damages, or (b) any claim attributable to errors, 
              omissions, or other inaccuracies in the Service and/or materials or information downloaded or accessed through the Service. 
              Fidelity &amp; Guaranty Life shall not be liable to you for any delay or failure of this Service due to any events or 
              circumstances beyond its reasonable control, including, but not limited to war, riots, insurrection, civil commotion, 
              fire, flood, storm or other natural disasters.
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 margin-top20">
              <span class="bold">5. Indemnification.</span> You agree to indemnify, defend and hold harmless Fidelity &amp; Guaranty Life, its 
              officers, directors, employees, agents, licensors, suppliers and any third party information providers to the Service from 
              and against all losses, expenses, damages and costs, including reasonable attorneys' fees, resulting from any violation of 
              this Agreement or any activity related to your account (including negligent or wrongful conduct) by you.
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 margin-top20">
              <span class="bold">6. Miscellaneous.</span> This Agreement shall all be governed and construed in accordance with the laws of the 
              State of Iowa applicable to agreements made and to be performed in Iowa. You agree that any legal action or proceeding 
              between Fidelity &amp; Guaranty Life and you for any purpose concerning this Agreement or the parties' obligations 
              hereunder shall be brought exclusively in a federal or state court of competent jurisdiction sitting in Iowa. Any cause of 
              action or claim you may have with respect to the Service must be commenced within one (1) year after the claim or 
              cause of action arises or such claim or cause of action is barred. Fidelity &amp; Guaranty Life's failure to insist 
              upon or enforce strict performance of any provision of this Agreement shall not be construed as a waiver of any 
              provision or right. Neither the course of conduct between the parties nor trade practice shall act to modify any 
              provision of this Agreement. Fidelity &amp; Guaranty Life may assign its rights and duties under this Agreement to 
              any party at any time without notice to you.
          </div>
        </div>

        <div class="row border-bottom margin-left5 no-margin">
          <div class="col-md-12 col-xs-12 margin-top20">
              <hr />
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 margin-top20">
            <span class="bold">Market Index Disclaimer</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 margin-top20">
              &quot;Dow Jones&quot;, &quot;Dow Jones Industrial Average&#8480;&quot; and &quot;DJIA&#8480;&quot; are service marks of Dow Jones &amp; Company, Inc. and have 
              been licensed for use for certain purposes by Fidelity &amp; Guaranty Life. Fidelity &amp; Guaranty Life's PowerSelect&#8480;, 
              based on the Dow Jones Industrial Average&#8480;, is not sponsored, endorsed, sold or promoted by Dow Jones, and Dow 
              Jones makes no representation regarding the advisability of purchasing the product.
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 margin-top20">
              The term &quot;S&amp;P 500 Index&quot; refers to the Standard &amp; Poor's 500 Composite Stock Price Index (which excludes dividends). 
              &quot;Standard &amp; Poor's 500&quot; and &quot;S&amp;P 500® &quot; are trademarks of The McGraw-Hill Companies, Inc. and have been licensed for 
              use by Fidelity &amp; Guaranty Life. The product is not sponsored, endorsed, sold or promoted by Standard &amp; Poor's and 
              Standard and Poor's makes no representation regarding the advisability of purchasing the product.
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 margin-top20">
              “Barclays Bank PLC and its affiliates (“Barclays”) is not the issuer or producer of Fixed Indexed Annuities and 
              Barclays has no responsibilities, obligations or duties to contract owners of Fixed Indexed Annuities. The Index 
              is a trademark owned by Barclays Bank PLC and licensed for use by Fidelity &amp; Guaranty Life Insurance Company as 
              the Issuer of Fixed Indexed Annuities. While Fidelity &amp; Guaranty Life Insurance Company as Issuer of Fixed Indexed 
              Annuities may for itself execute transaction(s) with Barclays in or relating to the Index in connection with Fixed 
              Indexed Annuities. Contract owners acquire Fixed Indexed Annuities from Fidelity &amp; Guaranty Life Insurance Company 
              and contract owners neither acquire any interest in Index nor enter into any relationship of any kind whatsoever 
              with Barclays upon making an investment in Fixed Indexed Annuities. The Fixed Indexed Annuities are not sponsored, 
              endorsed, sold or promoted by Barclays and Barclays makes no representation regarding the advisability of the Fixed 
              Indexed Annuities or use of the Index or any data included therein. Barclays shall not be liable in any way to the 
              Issuer, contract owners or to other third parties in respect of the use or accuracy of the Index or any data 
              included therein.”
          </div>
        </div>

      </div>
    </div>
  </div>
</div>