<!-- Fast Follow Registration Welcome Page with Marketing Enhancements with SpectraMark -->
<div class="box-body-fgl-reg">
    <div class="card-reg card-white">
        <div class="card-content-reg">
            <div class="col-md-12 col-sm-12 col-xs-12 margin-top-welcome">
                <div class="row font-blue-xxx welcome-font">
                    <div class="col-md-4 col-sm-4 col-xs-4 border-right1px margin-left-lg welcome-0">
                        <div class="row">
                            <div id="dvWelcomeText" class="col-md-12 col-sm-12 col-xs-12 no-padding-left padding-top55">
                                You will need the following to register:
                                <ul [style.font-size.em]="'1'">
                                    <li>Active policy number,</li>
                                    <li>Social Security or Tax ID number,</li>
                                    <li>telephone number, and</li>
                                    <li>ZIP code.</li>
                                </ul>
                                You can find your policy number on page three of your policy/contract or on your annual statement.
                            </div>
                        </div>
                        <div class="row margin-top10">
                            <div class="col-md-12 col-sm-12 col-xs-12 no-padding-left">
                                Don’t see your policy listed here? Have other questions? Please call us at <strong>888.513.8797</strong>,
                                Monday through Friday 8 a.m. to 6 p.m. ET. We’re happy to help.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 welcome-1">
                        <div class="row bold margin-btm20">
                            <div class="col-md-12 col-sm-12 col-xs-12 margin-left10">
                                <div class="row border-bottomblue1px">
                                    <div class="col-md-12 col-sm-12 col-xs-12 margin-btm10 bold no-padding-left">
                                        Policies currently available include:
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 margin-left10 welcome-2">
                                <div class="row margin-right10">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12 border-right1px">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12 bold no-padding-left">
                                                        Annuity policies issued on or after 1/1/2012 with the following products:
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12 margin-top10 no-padding-left">
                                                        <ul class="no-padding-left list-style-none">
                                                            <li>Accelerator Plus&reg;</li>
                                                            <li>AdvanceMark &#8480;</li>
                                                            <li>FG Accumulator Plus&reg;</li>
                                                            <li>FG Guarantee-Platinum&reg;</li>
                                                            <!--<li>FG Guarantee-Plus&reg;</li>-->
                                                            <li>FG Index-Choice&reg;10</li>
                                                            <li>FG Retirement Pro&reg;</li>
                                                            <!--<li>FGNY Index-Choice&reg; 10</li>-->
                                                            <li>LegendMark &#8480;</li>
                                                            <li>Performance Pro&reg;</li>
                                                            <li>Prosperity Elite&reg;</li>
                                                            <li>Safe Income Plus&reg;</li>
                                                            <!--<li>SpectraMark&reg;</li>-->
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="row margin-left10">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12 bold no-padding-left">
                                                        Life insurance policies issued on or after 1/1/2012 with the following products:
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12 margin-top10 no-padding-left">
                                                        <ul class="no-padding-left list-style-none">
                                                            <li>FG Life-Choice&reg;</li>
                                                            <li>FG Life-Elite&reg;</li>
                                                            <li>Synergy Global Advantage Freedom</li>
                                                            <li>Synergy Global Advantage Gold&reg;</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="row bold">
                                                    <div class="col-md-12 col-sm-12 col-xs-12 bold no-padding-left">
                                                        Term life insurance policies issued prior to 1/1/2012 with the following product:
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12 margin-top10 no-padding-left">
                                                        <ul class="no-padding-left list-style-none">
                                                            <li>HomeCertain</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>