<form [formGroup]="formGroup" name="formGroup" class="mat-form-auth">
    <fieldset>
        
        <div class="no-margin-bottom form-group" *ngIf="showCurrentPwd">
            <mat-form-field class="full-width mat-icon-left no-margin-bottom">
                <!-- <mat-icon class="material-icons">lock_outline</mat-icon> -->
                <input  required matInput type="password" maxlength="100" autocomplete="new-password" onCopy="return false" onPaste="return false"
                    formControlName="currentPassword" name="currentPassword" [placeholder]="currentPwdPlaceholder">
            </mat-form-field>
        </div>

        <div class="no-margin-bottom form-group">
            <mat-form-field class="full-width mat-icon-left no-margin-bottom">
                <!-- <mat-icon class="material-icons">lock_outline</mat-icon> -->
                <input  required matInput type="password" maxlength="100" autocomplete="new-password" onCopy="return false" onPaste="return false"
                    formControlName="password" name="password" [placeholder]="newPwdPlaceHolder">
            </mat-form-field>
        </div>

        <div class="no-margin-bottom form-group msg-box" *ngIf="isPwdHintNeedToShow">
            <div class="lineheight-none">
                <ul class="no-padding list-style-none">
                    <li class="small font-italic">Passwords must be at least ten (10) characters but no more than one hundred (100) characters</li>
                    <li class="small font-italic">Passwords must contain at least 1 uppercase character (A-Z)</li>
                    <li class="small font-italic">Passwords must contain at least 1 lowercase character (a-z)</li>
                    <li class="small font-italic">Passwords must contain at least 1 digit (0-9)</li>
                    <li class="small font-italic">Password must contain at least 1 special character such as #$@!%&*?</li>
                    <li class="small font-italic">Passwords may not contain user's first name, last name or  user ID</li>
                </ul>           
            </div>
        </div>

        <div class="no-margin-bottom form-group">
            <mat-form-field class="full-width mat-icon-left no-margin-bottom">
                <input  required matInput type="password" maxlength="100" autocomplete="new-password" formControlName="confirmPassword"
                    name="confirmPassword" onCopy="return false" onPaste="return false" [placeholder]="confirmPwdPlaceholder">
            </mat-form-field>
        </div>
        <div class="margin-left40">
            <fgl-message message="The password and confirmation password do not match. Please try again."
              *ngIf="formGroup.controls.confirmPassword.errors?.confirmPasswordNotMatch"></fgl-message>
        </div>
    </fieldset>
</form>